* {
  margin: 30px;
  padding: 0px;
  background-color: #e10800;
  font-family: cursive;
  all: center;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}

h1 {
  padding: 15px;
  margin-bottom: 20px;
  color: black;
  font-size: 100px;
  font-family: cursive;
  text-align: center;
}

#head1 {
  color: darkgrey;
}

.header {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  color: silver;
}

p {
  margin-top: 10px;
  font-size: 20px;
  color: silver;
}

img[src^="https"] {
  resize: 100px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVlbCv4uqfh_9ye1_nDLMBuwznIIxOPaKHoqQEpyUb7hMt1flo);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  color: silver;
}

ul {
  margin: 15px;
  color: inherit;
}

a[href^="https"] {
  resize: both %50;
}
